*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  color: #111;
  font-family: ui-monospace, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100svh;
}

math-field::part(virtual-keyboard-toggle) { display: none; }
math-field::part(menu-toggle) { display: none; }
